#profile {
    grid-area: profile;
}
#frontend {
    grid-area: frontend;
}
#backend {
    grid-area: backend;
}
#projectsList {
    grid-area: projects;
}
#experiences {
    grid-area: experiences;
}
#hobbies {
    grid-area: hobbies;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    grid-template-areas:
        "profile frontend backend"
        "profile projects projects"
        "experiences projects projects"
        "hobbies projects projects"
        "none projects projects";
    gap: 1rem;
}

.section {
    background: #363636;
    border-radius: 12px;
    padding: 1rem;
    height: fit-content;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* ---------- PROFILE ---------- */

#profileimg {
    width: 100%;
    border-radius: 12px;
}

#profile h2 {
    margin-bottom: 0.1rem;
    font-weight: 600;
}

#profile #subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #a7a6a6;
}

#contacts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 0;
}

#contacts div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#contacts img {
    width: 20px;
}

#contacts a {
    text-decoration: none;
    color: #eeeeee;
    font-size: 16px;
    font-weight: 500;
}

#profile p {
    font-size: 16px;
    font-weight: 500;
    color: #a7a6a6;
}

/* ---------- SKILLS ---------- */

/* ---------- FRONTEND ---------- */

.skillsTitle {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0.5rem;
}

.skillsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skill {
    display: flex;
    align-items: center;
}

.skillsList span {
    font-size: 16px;
    font-weight: 500;
    width: 40%;
}

.progressBar {
    position: relative;
    height: 10px;
    width: 60%;
    background: #808080;
    border-radius: 24px;
}

.progressBar div {
    height: 100%;
    background: #bf83ff;
    border-radius: 24px;
}

/* ---------- PROJECTS ---------- */

#projectsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

#projectsList section {
    width: 100%;
}

#filterSection {
    padding: 0;
}

#filterButton {
    border: none;
    background: transparent;
    width: 100%;
    color: #eeeeee;
    padding: 1rem;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 12px;
}

#filterButton:hover {
    background: #444444;
}

#filterButton div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#projectsTitle {
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
}

#imgFilter {
    width: 15px;
    height: 15px;
}

#warning {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

#filterList {
    padding: 1rem;
    transition: 0.6s;
}

.buttonTopic {
    text-decoration: none;
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border: 2px solid #bf83ff;
    color: #bf83ff;
    border-radius: 12px;
    transition: 0.2s;
    cursor: pointer;
}

.buttonTopic:hover {
    background: #bf83ff;
    color: #ffffff;
}

.tag {
    font-size: 18px;
    font-weight: 500;
}

.projectName {
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0.8rem;
}

.description {
    font-size: 16px;
    font-weight: 500;
    color: #a7a6a6;
    margin-bottom: 3rem;
}

.demoCode {
    display: flex;
    gap: 1rem;
}

.demoButton {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    background: #bf83ff;
    border: 2px solid #bf83ff;
    color: #eeeeee;
    border-radius: 12px;
    transition: 0.2s;
}

.demoButton:hover {
    opacity: 0.7;
}

.codeButton {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border: 2px solid #bf83ff;
    color: #bf83ff;
    border-radius: 12px;
    transition: 0.2s;
}

.codeButton:hover {
    background: #bf83ff;
    color: #ffffff;
}

/* ---------- EXPERIENCES ---------- */

#experiences h2 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2rem;
}

#experiencesList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience {
    display: flex;
    gap: 1rem;
}

.experience img {
    background: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 12px;
}

.experienceText {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.experienceText span {
    font-size: 14px;
    font-weight: 500;
    color: #a7a6a6;
}

.experienceText h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #ffffff;
}

.experienceText h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

/* ---------- HOBBIES ---------- */

#hobbies h2 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2rem;
}

#hobbiesList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hobbie img {
    width: 100%;
    border-radius: 12px;
}

.hobbie h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.hobbie span {
    font-size: 14px;
    font-weight: 500;
    color: #a7a6a6;
}

.hobbie a {
    text-decoration: none;
    color: #eeeeee;
}

/* ---------- LOADING ---------- */

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingContainer {
    display: flex;
    justify-content: center;
    
    width: 100%;
}

.loading {
    width: 50px;
    height: 50px;
    border: 5px solid #bf83ff;
    border-top: 5px solid #272727;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

/* ---------- FOOTER ---------- */

#createdBy {
    margin-top: 6rem;
    color: #828282;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

#createdBy a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    color: #828282;
}


@media screen and (max-width: 1128px) {
    /* ---------- PROFILE ---------- */
    
    #contacts a {
        font-size: 14px;
    }

    /* ---------- SKILLS ---------- */
    
    .skillsTitle {
        font-size: 16px;
    }
    
    .skillsList span {
        font-size: 14px;
    }

    /* ---------- EXPERIENCE ---------- */

    .experience img {
        width: 70px;
        height: 70px;
    }
    
    .experienceText span {
        font-size: 12px;
    }
    
    .experienceText h4 {
        font-size: 14px;
    }
    
    .experienceText h5 {
        font-size: 12px;
    }
}

@media screen and (max-width: 685px) {
    .main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
